In [1]:
import pandas as pd
from tqdm.notebook import tqdm
total_df = pd.read_csv('c:/Users/user/downloads/total_up_down.csv')

total_df['polar_score'] = 0
total_df['polarity'] = 0
total_df

            ngram  up_count  down_count  total_count  polar_score  polarity
0         '하/VV',   35889.0     44849.0      80738.0            0         0
1       '금리/NNG',   32638.0     40925.0      73563.0            0         0
2        '하/XSV',   31879.0     43626.0      75505.0            0         0
3         '되/VV',   25725.0     31676.0      57401.0            0         0
4       '자료/NNG',   24319.0     26144.0      50463.0            0         0
...           ...       ...         ...          ...          ...       ...
7878   '신년사/NNG',       0.0        16.0         16.0            0         0
7879    '고래/NNG',       0.0        16.0         16.0            0         0
7880    '특혜/NNG',       0.0        15.0         15.0            0         0
7881  '무다라바/NNG',       0.0        15.0         15.0            0         0
7882    '약가/NNG',       0.0        15.0         15.0            0         0

[7883 rows x 6 columns]

In [8]:
total_cnt = sum(total_df.total_count)
up_cnt = sum(total_df.up_count)
down_cnt = sum(total_df.down_count)

In [12]:
p_hawkish = up_cnt/total_cnt
p_dovish = down_cnt/total_cnt

for row in tqdm(range(total_df.shape[0])):
    total_df.loc[row,'polar_score'] = ((total_df.loc[row,'up_count']+0.001/total_df.loc[row,'total_count'])/p_hawkish)/((total_df.loc[row,'down_count']+0.001/total_df.loc[row,'total_count'])/p_dovish)
    if total_df.loc[row,'polar_score'] > (1.3/1):
        total_df.loc[row,'polarity'] = 'Hawkish'
    elif total_df.loc[row,'polar_score'] < (1/1.3):
        total_df.loc[row,'polarity'] = 'Dovish'
    else:
        total_df.loc[row,'polarity'] = 'nothing'

HBox(children=(FloatProgress(value=0.0, max=7883.0), HTML(value='')))

In [16]:
total_df.polarity.value_counts()

nothing    3677
Dovish     2267
Hawkish    1939
Name: polarity, dtype: int64

In [20]:
hawk_df = total_df[total_df['polarity'] == 'Hawkish']
dove_df = total_df[total_df['polarity'] == 'Dovish']

In [21]:
dove_df

            ngram  up_count  down_count  total_count  polar_score polarity
71      '인하/NNG',    3249.0      6169.0       9418.0     0.648747   Dovish
125     '가계/NNG',    2157.0      3551.0       5708.0     0.748238   Dovish
199     '효과/NNG',    1470.0      2441.0       3911.0     0.741805   Dovish
266      '층/NNG',    1037.0      2395.0       3432.0     0.533352   Dovish
276     '견해/NNG',     996.0      1714.0       2710.0     0.715795   Dovish
...           ...       ...         ...          ...          ...      ...
7878   '신년사/NNG',       0.0        16.0         16.0     0.000005   Dovish
7879    '고래/NNG',       0.0        16.0         16.0     0.000005   Dovish
7880    '특혜/NNG',       0.0        15.0         15.0     0.000005   Dovish
7881  '무다라바/NNG',       0.0        15.0         15.0     0.000005   Dovish
7882    '약가/NNG',       0.0        15.0         15.0     0.000005   Dovish

[2267 rows x 6 columns]

In [22]:
hawk_df.to_csv('hawk_df.csv',index=False)
dove_df.to_csv('dove_df.csv',index=False)