In [7]:
import pandas as pd
from tqdm.notebook import tqdm
total_df = pd.read_csv('c:/Users/user/downloads/total_up_down.csv')

total_df['polar_score'] = 0
total_df['polarity'] = 0
total_df

            ngram  up_count  down_count  total_count  polar_score  polarity
0         '하/VV',   35889.0     44849.0      80738.0            0         0
1       '금리/NNG',   32638.0     40925.0      73563.0            0         0
2        '하/XSV',   31879.0     43626.0      75505.0            0         0
3         '되/VV',   25725.0     31676.0      57401.0            0         0
4       '자료/NNG',   24319.0     26144.0      50463.0            0         0
...           ...       ...         ...          ...          ...       ...
7878   '신년사/NNG',       0.0        16.0         16.0            0         0
7879    '고래/NNG',       0.0        16.0         16.0            0         0
7880    '특혜/NNG',       0.0        15.0         15.0            0         0
7881  '무다라바/NNG',       0.0        15.0         15.0            0         0
7882    '약가/NNG',       0.0        15.0         15.0            0         0

[7883 rows x 6 columns]

In [10]:
pos_doc = 1670
neg_doc = 1914

p_hawkish = pos_doc/(pos_doc+neg_doc)
p_dovish = neg_doc/(pos_doc+neg_doc)

for row in tqdm(range(total_df.shape[0])):
    total_df.loc[row,'polar_score'] = ((total_df.loc[row,'up_count']+0.001/total_df.loc[row,'total_count'])/p_hawkish)/((total_df.loc[row,'down_count']+0.001/total_df.loc[row,'total_count'])/p_dovish)
    if total_df.loc[row,'polar_score'] > (1.3/1):
        total_df.loc[row,'polarity'] = 'Hawkish'
    elif total_df.loc[row,'polar_score'] < (1/1.3):
        total_df.loc[row,'polarity'] = 'Dovish'
    else:
        total_df.loc[row,'polarity'] = 'nothing'

HBox(children=(FloatProgress(value=0.0, max=7883.0), HTML(value='')))

In [11]:
total_df.polarity.value_counts()

nothing    3516
Dovish     2750
Hawkish    1617
Name: polarity, dtype: int64

In [12]:
total_df

            ngram  up_count  down_count  total_count  polar_score polarity
0         '하/VV',   35889.0     44849.0      80738.0     0.917137  nothing
1       '금리/NNG',   32638.0     40925.0      73563.0     0.914030  nothing
2        '하/XSV',   31879.0     43626.0      75505.0     0.837500  nothing
3         '되/VV',   25725.0     31676.0      57401.0     0.930787  nothing
4       '자료/NNG',   24319.0     26144.0      50463.0     1.066103  nothing
...           ...       ...         ...          ...          ...      ...
7878   '신년사/NNG',       0.0        16.0         16.0     0.000004   Dovish
7879    '고래/NNG',       0.0        16.0         16.0     0.000004   Dovish
7880    '특혜/NNG',       0.0        15.0         15.0     0.000005   Dovish
7881  '무다라바/NNG',       0.0        15.0         15.0     0.000005   Dovish
7882    '약가/NNG',       0.0        15.0         15.0     0.000005   Dovish

[7883 rows x 6 columns]